.console {
  background-color: rgb(20, 20, 20);
  color: rgb(230, 230, 20);
  resize: none;
  font-family: monospace;
  font-size: 1.2em;
}

.editor {
  background-color: rgb(20, 20, 20);
  color: rgb(230, 230, 230);
  resize: none;
  font-family: monospace;
  font-size: 1.2em;
}

.bottom {
  position: absolute;
  width: 10em;
  height: 6em;
  bottom: 1em;
  left: 52%;
  transform: translateX(-52%);
}

.pos {
  position: relative;
}