html
  head  
    link(rel="stylesheet", href="../css/style.css")
    link(rel="stylesheet", href="../css/bootstrap.min.css")
    title JS ULA Compiler
body
  nav(class="navbar navbar-expand-lg navbar-light bg-light")
    ul(class="navbar-nav")
      li(class="nav-item active")
        a(class="nav-link", href="/") Inicio

      li(class="nav-item")
        a(class="nav-link", href="/compiler") Compilador
 
  div(class="container")
 

  script(src="../js/jquery.min.js")
  script(src="../js/popper.min.js")
  script(src="../js/bootstrap.min.js")  